:root {
  --white: #ffffff;
  --black: #000;
  --black75: #000000b9;
  --grey: #838383;
  --yellow: #fdb827;
  --red: #c9232e;
  --red75: #c9232eb9;
  --blue: #21209c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Martian Mono", monospace;
  font-weight: 400;
}

body {
  background-color: var(--black);
  height: 100vh;
  /* overflow: hidden; */
  overflow: hidden;
}

main {
  margin: 16px;
}

.title {
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  font-size: 48px;
  text-align: center;
  color: var(--white);
}

.messages {
  position: absolute;
  top: 40vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--white);
}

#start {
  font-size: 48px;
}

#popup {
  max-width: 50%;
  margin: 0 auto;
  color: var(--white);
  background-color: var(--red75);
  border-radius: 50px;
  padding: 20px;
  font-size: 36px;
  line-height: 140%;
  z-index: 100;
  transition: all 500ms ease-in-out;
}

.copyright {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 20px;
  bottom: 60px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.gameboard {
  display: flex;
  flex-direction: row;
  transition: opacity 2s;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;

  width: 600px;
  height: 600px;
  margin-top: 200px;
}

.controls {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h3 {
  color: var(--white);
  font-size: 36px;
  margin-bottom: 20px;
}

.sizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0;
}

.sizes.active {
  background-color: var(--white);
  border-radius: 50px;
  animation-name: color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: var(--black);
  }
  50% {
    background-color: var(--grey);
  }
  100% {
    background-color: var(--black);
  }
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 16px;
  cursor: pointer;
}

.size.p1 {
  color: var(--white);
  background-color: var(--blue);
}

.size.p2 {
  color: var(--black);
  background-color: var(--red);
}

.size1 {
  width: 68px;
  height: 68px;
  font-size: 46px;
}
.size2 {
  width: 88px;
  height: 88px;
  font-size: 56px;
}
.size3 {
  width: 108px;
  height: 108px;
  font-size: 66px;
}
.size4 {
  width: 128px;
  height: 128px;
  font-size: 76px;
}
.size5 {
  width: 148px;
  height: 148px;
  font-size: 86px;
}
.size6 {
  width: 168px;
  height: 168px;
  font-size: 96px;
}

.nonclick {
  pointer-events: none;
  margin-bottom: 0;
}

.field {
  display: flex;
  border-radius: 40px;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.transparent {
  opacity: 0;
}
