:root {
  --white: #ffffff;
  --black: #000;
  --black75: #000000b9;
  --grey: #838383;
  --yellow: #fdb827;
  --red: #c9232e;
  --red75: #c9232eb9;
  --blue: #21209c;
}

/* bruuuuh */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Martian Mono", monospace;
  font-weight: 400;
  font-size: 62.5%;
}

body {
  background-color: var(--black);
  height: 100vh;
  overflow: hidden;
}

main {
  margin: 1.6rem;
}

#tsparticles {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.title {
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  font-size: 4.8rem;
  text-align: center;
  color: var(--white);
}

.messages {
  position: absolute;
  top: 40vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--white);
}

#start {
  font-size: 4.8rem;
}

#popup {
  max-width: 50%;
  margin: 0 auto;
  color: var(--white);
  background-color: var(--red75);
  border-radius: 5rem;
  padding: 2rem;
  font-size: 3.6rem;
  line-height: 140%;
  z-index: 100;
  transition: all 500ms ease-in-out;
}

.copyright {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 2rem;
  bottom: 6rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.gameboard {
  display: flex;
  flex-direction: row;
  transition: opacity 2s;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2rem;

  width: 60rem;
  height: 60rem;
  margin-top: 20rem;
}

.controls {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h3 {
  color: var(--white);
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.sizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 0;
}

.sizes.active {
  background-color: var(--white);
  border-radius: 5rem;
  animation-name: color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: var(--black);
  }
  50% {
    background-color: var(--grey);
  }
  100% {
    background-color: var(--black);
  }
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1.6rem;
  cursor: pointer;
}

.size.p1 {
  color: var(--white);
  background-color: var(--blue);
}

.size.p2 {
  color: var(--black);
  background-color: var(--red);
}

.size1 {
  width: 6.8rem;
  height: 6.8rem;
  font-size: 4.6rem;
}
.size2 {
  width: 8.8rem;
  height: 8.8rem;
  font-size: 5.6rem;
}
.size3 {
  width: 10.8rem;
  height: 10.8rem;
  font-size: 6.6rem;
}
.size4 {
  width: 12.8rem;
  height: 12.8rem;
  font-size: 7.6rem;
}
.size5 {
  width: 14.8rem;
  height: 14.8rem;
  font-size: 8.6rem;
}
.size6 {
  width: 16.8rem;
  height: 16.8rem;
  font-size: 9.6rem;
}

.nonclick {
  pointer-events: none;
  margin-bottom: 0;
}

.field {
  display: flex;
  border-radius: 4rem;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.transparent {
  opacity: 0;
}

@media only screen and (max-width: 1440px), screen and (max-height: 900px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1000px), screen and (max-height: 740px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 800px), screen and (max-height: 600px) {
  html {
    font-size: 32%;
  }
}

@media only screen and (max-width: 600px), screen and (max-height: 480px) {
  html {
    font-size: 24%;
  }
}

@media only screen and (max-width: 480px), screen and (max-height: 360px) {
  html {
    font-size: 20%;
  }
}

@media only screen and (max-width: 360px), screen and (max-height: 300px) {
  html {
    font-size: 16%;
  }
}
